.box1 {
    /* background-color: tomato; */
    background-color: #ff0000;
}

.box2 {
    background-color: limegreen;
}

.box3 {
    background-color: coral;
}

.box4 {
    background-color: red;
}

.box5 {
    background-color: olive;
}

.box6 {
    background-color: magenta;
}