@import "theme.css";
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--ff-monteserrat);
  background-color: var(--mavi-9);
  color: var(--siyah);
  font-weight: 500;
  margin: 1rem;
}

h1 {
  background-color: var(--koyu-kirmizi);
  width: 20rem;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 30px;
  text-align: center;
  margin: 2rem auto;
}
.header {
  background-color: var(--koyu-yesil);
  padding: 1rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: var(--gri-3);
}

.navbar a {
  color: var(--beyaz);
  text-decoration: none;
  padding: 1rem 1.5rem;
  transition: all 1s;
}
.navbar a:hover {
  background-color: var(--gri-7);
  color: var(--siyah);
  font-weight: 600;
}
.row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.col {
  padding: 1rem;
}
.fs {
  width: 35%;
  background-color: var(--gri-5);
}
.aws {
  width: 20%;
  background-color: var(--gri-6);
}
.data {
  width: 30%;
  background-color: var(--gri-7);
}
.cms {
  width: 15%;
  background-color: var(--gri-8);
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  body {
    color: var(--beyaz);
    background-color: var(--acik-kirmizi);
  }
  .col {
    width: 50%;
    margin: 0.5rem 0;
  }
}

@media screen and (max-width: 600px) {
  body {
    color: var(--beyaz);
    background-color: var(--mor);
  }
  .col {
    width: 100%;
    margin: 0.5rem 0;
  }
  .navbar {
    flex-direction: column;

    text-align: center;
  }

  .header {
    display: none;
  }
}
