//********************************************/
//* STYLE:SCSS
//********************************************/

@use "./base/reset";
@use "./abstracts/variables" as v;
// @import "./abstracts/colors";
@use "./components/index" as *;

body {
  font-family: v.$fontFamily;
  background-color: v.$bgColor;
  font-size: v.$fontSize;
  color: v.$fontColor;
}



